.log{
  color: white;
  font-weight: bold;
  margin-right: 100px;
  text-align: right;
  margin-top: 0px;
  list-style: none;
  padding: 20px 0px;
}

.log a{
  color: #fbb03b;
  text-decoration: none
}

.log a:hover{
  text-decoration: underline;
}
