*{
font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}
.header {
  overflow: hidden;
  background-color: #272727;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -800px;
  width: 10%;
}

.log{
  color: white;
  font-weight: bold;
  margin-right: 100px;
  text-align: left;
  margin-top: 20px;
  list-style: none;
  padding: 20px 0px;
}

.log a{
  color: #fbb03b;
  text-decoration: none
}

.log a:hover{
  text-decoration: underline;
}