<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Fantso Login Page</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
          {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
       <link rel="icon" href="{% static 'img/testlogo.png' %}" type="image/gif" sizes="16x16">
   </head>
   <body>

      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               Login
            </div>
         </div>
         <div class="form-container">
            <div class="form-inner">
                 <form class="login" method="post" action="{% url 'login' %}">
                   {% csrf_token %}
                     <div class="field">
                     <input type="text"  placeholder="Enter your username" id={{ form.username }}</input>
                  </div>
                  <div class="field">
                     <input type="password"  placeholder="Enter your password" id={{ form.password }}</input>
                  </div>
                 <br>
                     {% if next %}
                         {% if user.is_authenticated %}
                             <p>Your account doesn't have access to this page. To proceed,
                                 please login with an account that has access.</p>
                         {% else %}
                             <p>Please login to access the main page.</p>
                         {% endif %}
                     {% endif %}
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Login">
                  </div>
                      <input type="hidden" name="next" value="{{ next }}">
                  <div class="signup-link">
                     Not a member? <a href="/accounts/signup/">Signup now</a>
                      <p>or</p>
                      <a href="/audio">Continue as guest</a>
                  </div>
                     <div class="signup-link">
                     <a href="{% url 'password_reset' %}">Lost password?</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <script>
      </script>
   </body>
</html>