<!DOCTYPE html>
<html lang="en">
{% load widget_tweaks %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-in</title>
           {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
       <link rel="icon" href="{% static 'img/testlogo.png' %}" type="image/gif" sizes="16x16">
  </head>
  <body>

      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               Registration
            </div>
         </div>
          <div class="form-container">
              <div class="form-inner">
      <form method="post">
        {% csrf_token %}

          {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}
            {% for field in form.visible_fields %}
            <div class="form-group">
            <div class="signup-link">
                {{ field.label_tag }}
            </div>
            <div class="field">
                {% if form.is_bound %}
                  {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                      <div class="invalid-feedback">
                            {{ error }}
                      </div>
                    {% endfor %}
                  {% else %}
                    {% render_field field class="form-control is-valid" %}
                  {% endif %}
                {% else %}
                    <div class="field">
                    {% render_field field class="form-control" %}
                  </div>
                    </div>
                {% endif %}

                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Registration">
                  </div>
                      <input type="hidden" name="next" value="{{ next }}">

                     <div class="signup-link">
                     <a href="{% url 'login' %}">Already registered?</a>
                  </div>
      </form>
              </div>
         </div>
       </div>
  <script></script>
  </body>
      </html>