<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-Up</title>
           {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/gif" sizes="16x16">
  </head>
  <body>

  <div>
      {% for message in messages %}
          <h5 class="invalid-feedback">Error: {{message}}</h5>
      {% endfor %}
  </div>

 <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               Sign-Up
            </div>
         </div>
         <div class="form-container">
            <div class="form-inner">
                 <form class="login" method="POST" action="">
                   {% csrf_token %}
                     <div class="field">
                         <input type="text" name="username" placeholder="Username">
                  </div>
                 <div class="field">
                 <input type="email" name="email" placeholder="Email">
                 </div>
                 <div class="field">
                 <input type="password" name="password" placeholder="Password">
                 </div>
                     <div class="field">
                 <input type="password" name="password2" placeholder="Confirm Password">
                 </div>
                    <button type="submit" class="btn-grad btn2"> Sign-Up </button>
                  <div class="signup-link">
                     Do you have an account? <a href="/signin">Sign-in Now</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
  <script></script>
  </body>
      </html>