{% extends "base.html" %}

{% block content %}
    {% load static %}
<style>

.button {
  background-color: transparent;
  border: 0;
  width: var(--player-button-width);
  height: var(--player-button-width);
  cursor: pointer;
  color: white;
}

.button:hover{
   color: grey;
}

.limit{
    width: 100px;
    word-wrap: break-word;
    }

.audio-player {
  --player-button-width: 3em;
    ...
}
</style>

    <audio id="player" src="{{ current_song.song.url }}"></audio>

<div class="container mt-5 py-4">
    <div class="row mb-5 pb-5">
        <div class="col-3 px-4">
            <div class="py-1">
                <p class="h3 text-white">PLAYLIST: <span class="h4 fw-bolder limit" style="color: #fbb03b">{{ playlist.playlistName }}</span></p>
                <hr class="text-white">
            </div>
            <div class="py-1">
                <p class="h3 text-white">GENRE: <span class="h4 fw-bolder limit" style="color: #fbb03b">{{ playlist.genre.name }}</span></p>
               <hr class="text-white">
            </div>
            <div class="py-1">
                <p class="h3 text-white">ARTIST: <a class="h4 fw-bolder limit" style="color: #fbb03b; text-decoration: none" href="">@{{ playlist.artist.username }}</a></p>
            </div>
        </div>

        <div class="col-4 py-5 shadow" style="width: 39%; background-color: #272727">
            <div class="d-flex align-items-center justify-content-center">
                <img class="shadow-sm" style="height: 490px; width: 490px;" src="{{ current_song.image.url }}">
            </div>

            <div class="ps-1" style="background-color: #272727">
                <p class="text-white pt-1">{{ current_song.title }}<br><span class="text-muted"><small>@{{ playlist.artist.username }}</small></span></p>
            </div>
            <input id="progress" style="width: 100%" type="range" min="0" max="1000" value="0">

            <div class="controls d-flex align-items-center justify-content-center pt-3" style="width: 100%;">
                <button id="skip-backward" class="button px-5 me-3" style="width: 50px; "><i class="fa-solid fa-circle-chevron-left fa-2xl"></i></button>
                <button id="play-pause" class="button px-5" style="width: 50px; "><i class="fa-solid fa-circle-play fa-2xl"></i></button>
                <button id="skip-forward" class="button px-5 ms-3" style="width: 50px; "><i class="fa-solid fa-circle-chevron-right fa-2xl"></i></button>
            </div>

        </div>

        <div class="col-3 ms-3 shadow-sm" style="background-color: #272727; border: 3px solid #2b2b2b;">
            <h2 class="text-uppercase text-white d-flex align-items-center justify-content-center pb-4 pt-3">Queue</h2>
                <ol style="list-style-type: none;">
                    {% for song in songs %}
                    <li class="py-2">

                        <div class="me-4" style="background-color: #2b2b2b">
                            <img class="" style="height: 50px; width: 50px" src="{{ current_song.image.url }}">
                            <a style="color: #fbb03b; text-decoration: none" class="ps-1"
                               href="/play/{{ artist }}/{{ song.playlist.playlistName }}/{{ song.id }}">{{ song.title }}</a></div>
                    </li>
    {% endfor %}
        </ol>
        </div>
    </div>
</div>


    <script>
        const player = document.getElementById('player');
        const playPauseButton = document.getElementById('play-pause');
        const skipBackwardButton = document.getElementById('skip-backward');
        const skipForwardButton = document.getElementById('skip-forward');
        const progressBar = document.getElementById('progress');

        playPauseButton.addEventListener('click', () => {
            if (player.paused) {
                player.play();
            } else {
                player.pause();
            }
        });

        skipBackwardButton.addEventListener('click', () => {
            player.currentTime -= 10;  // skip backward 10 seconds
        });

        skipForwardButton.addEventListener('click', () => {
            player.currentTime += 10;  // skip forward 30 seconds
        });

        let interval;

        player.addEventListener('play', () => {
            interval = setInterval(updateProgress, Math.round(1000 / 60));
        });

        player.addEventListener('pause', () => {
            clearInterval(interval);
        });

        function updateProgress() {
            const percent = (player.currentTime / player.duration) * 1000;
            progressBar.value = percent;
        }

        progressBar.addEventListener('input', () => {
            const time = (progressBar.value / 1000) * player.duration;
            player.currentTime = time;
        });
    </script>


{% endblock content %}