{% extends "base.html" %}

{% block content %}
    {% load static %}
    <style>

        a:hover {
            color: #d4145a;
        !important;
        }

        .numberCircle {
            display: inline-block;
            line-height: 0px;
            border-radius: 50%;
            border: 2px solid;
            font-size: 32px;
        }

        .numberCircle span {
            display: inline-block;
            padding-top: 50%;
            padding-bottom: 50%;
            margin-left: 8px;
            margin-right: 8px;
        }

        .area {
            background-color: #2A2A2A;
            color: white;
            border: none;
            overflow: auto;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            width: 80%;
        }

        .btn-grad {
            background-image: linear-gradient(to right, #d4145a 0%, #fbb03b 50%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            transition: 0.5s;
            background-size: 250% auto;
            color: white;
            border-radius: 10px;
            display: block;
            border: 3px #272727 solid;
        }

        .btn-grad:hover {
            background-position: 20% 80%;
            color: #fff;
            text-decoration: none;
        }
    </style>

    <div class="container">
        <div class="d-flex flex-row py-4 mt-1">

            <div class="pt-4 mt-1">
                <h3 class="text-white">1. Upload Songs</h3>
            </div>
            <i class="fa-solid fa-arrow-right fa-2xl py-5 px-5 text-white"></i>

            <div class="pt-4 mt-1">
                <h3 style="color: #fbb03b">2. Edit Info</h3>
            </div>
            <i class="fa-solid fa-arrow-right fa-2xl py-5 px-5 text-white"></i>

            <div class="pt-4 mt-1">
                <h3 class="text-white">3. Done!</h3>
            </div>
        </div>

        <div class="container m-auto">
            <div class="ms-auto py-5 row">
                <div class="col-2 col-md-2">
                </div>

                <div class="col-10 col-md-8 text-white"
                     style="background-color: #272727; border: 1px solid #272727; border-radius: 25px">
                    <div class="p-4">
                        <div class="py-4 px-3">
                            <h2 style="color: #fbb03b">Edit Song Info</h2>
                        </div>
                        <form action="/songs_edit" method="POST">
                            {% csrf_token %}
                            <div>
                                {% for song in songs %}
                                    </div>
                            <div class="p-4">

                                <div class="pt-2 pb-4">
                                    <label class="text-muted">Song ID</label>
                                    <p class="text-muted">{{ song.id }}</p>
                                    <audio controls>
                                        <source src="{{ song.song.url }}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                </div>

                                <div class="py-4">
                                    <label class="text-muted">Title</label>
                                    <div class="pt-2">
                                        <textarea id="about" name="title_{{ forloop.counter0 }}"
                                                  style="height: 50px; width: 400px"
                                                  class="area">{{ song.title }}</textarea>
                                    </div>
                                </div>


                                <div class="py-4">
                                    <label class="text-muted">Track Number</label>
                                    <div class="pt-2">
                                        <input type="number" class="area" style="width: 50px"
                                               name="track_number_{{ forloop.counter0 }}" min="1" max="80" step="1"
                                               value="{{ forloop.counter }}">
                                    </div>
                                </div>


                                <div class="py-4">
                                    <label for="about" class="float-start text-muted">Lyrics</label>
                                    <div class="mt-4 pt-2">
                                        <textarea id="about" name="lyrics_{{ forloop.counter0 }}"
                                                  style="height: 300px" class="area">{{ song.lyrics }}</textarea>
                                    </div>
                                </div>

                                <input type="hidden" name="total" value="{{ songs|length }}"/>
                                <input type="hidden" name="id_{{ forloop.counter0 }}" value="{{ song.id }}"/>
                                <input type="hidden" name="playlist" value="{{ playlist.playlistName }}"/>

                                {% endfor %}
                                </div>
                            <hr class="text-white">
                            <div class="p-3 pt-0 px-4 flex d-flex justify-content-end">
                                <input type="reset" class="p-2 px-4 btn-grad" value="Reset"
                                       style="text-decoration: none;">
                                <button type="submit" class="px-4 btn-grad">Save</button>
                            </div>
                        </form>

                    </div>

                </div>
                <br>

            </div>

        </div>

    </div>

    </div>

{% endblock content %}