<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Fantso</title>
                  {% load static %}
    <link rel="stylesheet" href="{% static 'css/type.css' %}"/>
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/gif" sizes="16x16">
</head>
<body>
        <p class="line anim-typewriter">Welcome to Fantso, my maturita project website. Please, log-in or register to continue.</p>
        <div class="btn fade">
            <div class="btn-layer"></div>
            <input type="submit" value="Log-in" onclick="location.href='{% url 'login' %}'">
        </div>

        <div class="btn2 fade">
            <div class="btn-layer"></div>
            <input type="submit" value="Register" onclick="location.href='/register'">
        </div>


</body>
</html>