<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fantso</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/header.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="icon" href="{% static 'img/testlogo.png' %}" type="image/gif" sizes="16x16">
    <!-- CSS only -->
</head>
<body>
{% block header %}
    {% block navbar %}
    <div class="header">
    {% include "page/header.html" %}
    {% include "page/navbar.html" %}
    </div>
    {% endblock navbar %}
{% endblock header %}

{% block content %}

{% endblock content %}

</body>
</html>