<footer class="text-center text-white fixed-bottom" style="background-color: #272727;">
  <div class="container pt-4">
    <section class="mb-4">
      <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://www.facebook.com/ondra.repko/"
         role="button" data-mdb-ripple-color="white">
          <i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://twitter.com/Ergoon2" role="button"
         data-mdb-ripple-color="white"><i class="fab fa-twitter"></i></a>

      <a class="btn btn-link btn-floating btn-lg text-white m-1"
         href="https://www.youtube.com/channel/UCk7ltPFXpZxnMPbLc4hbYlA" role="button" data-mdb-ripple-color="white">
          <i class="fa-brands fa-youtube"></i></a>

      <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://www.instagram.com/ondra.repko"
         role="button" data-mdb-ripple-color="white"><i class="fab fa-instagram"></i></a>

      <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://cz.pinterest.com/ardnookper/"
         role="button" data-mdb-ripple-color="white"><i class="fa-brands fa-pinterest"></i></a>

      <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://github.com/datboiErgoon" role="button"
         data-mdb-ripple-color="white"><i class="fab fa-github"></i></a>
    </section>
  </div>

  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
      <p class="text-white">Ondřej Repko</p>
  </div>

</footer>