{% extends 'base.html' %}

{% block navbar %}
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i>☰</i></label>
{% load static %}
<img src="{% static 'img/test.png' %}" alt="Home page" class="center" style="width:420px;height:100px;">
    <div class="wrapper">
      <ul>
<li><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li><a href="https://github.com/datboiErgoon/maturitni_projekt">Github Repository</a></li>
<li><a href="https://www.sspu-opava.cz/cs/">School Website</a></li>
<li><a href="https://github.com/datboiErgoon?tab=repositories">Portfolio</a></li>
</ul>
</div>
</div>
{% endblock navbar %}