.btn-grad {
    background-image: linear-gradient(to right, #d4145a 0%, #fbb03b 50%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
    background-size: 250% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 3px #272727 solid;
}

.btn-grad:hover {
    background-position: 20% 80%;
    color: #fff;
    text-decoration: none;
}