<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
                  {% load static %}
    <link rel="stylesheet" href="{% static 'css/type.css' %}"/>
</head>
<body>
        <p class="line anim-typewriter">Welcome to Fantso, my maturita project website. Please, log-in or register to continue.</p>

        <div class="btn fade">
            <div class="btn-layer"></div>
            <input type="submit" value="Log-in" onclick="location.href='/signin'">
        </div>

        <div class="btn2 fade">
            <div class="btn-layer"></div>
            <input type="submit" value="Register" onclick="location.href='/signup'">
        </div>


</body>
</html>