<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login and Registration Form in HTML | CodingNepal</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
          {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
   </head>
   <body>
      <div class="wrapper">
         <div class="title-text">
            <div class="title signup">
               Signup
            </div>
         </div>
          <div class="form-container">
            <div class="form-inner">
               <form action="/signup" class="signup" method="post">
                   {% csrf_token %}
                  <div class="field">
                     <input type="text" id="username" name="username" placeholder="Create a username" required>
                  </div>
                  <div class="field">
                     <input type="email" id="email" name="email" placeholder="Enter your Email address" required>
                  </div>
                  <div class="field">
                     <input type="password" id="pass1" name="pass1" placeholder="Create a password" required>
                  </div>
                   <div class="field">
                     <input type="password" id="pass2" name="pass2" placeholder="Confirm your password" required>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Signup">
                  </div>
                   <div class="signup-link">
                     Already a member? <a href="/signin">Log-In now</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <script></script>
   </body>
</html>