<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login and Registration Form in HTML | CodingNepal</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
          {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
   </head>
   <body>
      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               Login
            </div>
         </div>
         <div class="form-container">
            <div class="form-inner">
               <form action="/signin" class="login" method="post">
                   {% csrf_token %}
                  <div class="field">
                     <input type="text" id="username" name="username" placeholder="Enter Your username" required>
                  </div>
                  <div class="field">
                     <input type="password" id="pass1" name="pass1" placeholder="Enter Your password" required>
                  </div>
                  <div class="pass-link">
                     <a href="#">Forgot password?</a>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Login">
                  </div>
                  <div class="signup-link">
                     Not a member? <a href="/signup">Signup now</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <script>
      </script>
   </body>
</html>