<footer class="text-center text-white footer-static-bottom mt-auto" style="background-color: #272727;">
  <div class="container pt-4">
    <section class="mb-4">
      <a class="btn btn-link btn-floating btn-lg text-white m-1 footer-icons" href="https://www.facebook.com/ondra.repko/"
         target="_blank" rel="noopener noreferrer" role="button" data-mdb-ripple-color="white">
          <i class="fab fa-facebook-f footer-icons"></i></a>

      <a class="btn btn-link btn-floating btn-lg text-white m-1 footer-icons" href="https://twitter.com/Ergoon2"
         target="_blank" rel="noopener noreferrer" role="button" data-mdb-ripple-color="white">
          <i class="fab fa-twitter footer-icons"></i></a>

      <a class="btn btn-link btn-floating btn-lg text-white m-1 footer-icons"
         href="https://www.youtube.com/channel/UCk7ltPFXpZxnMPbLc4hbYlA" target="_blank" rel="noopener noreferrer"
         role="button" data-mdb-ripple-color="white">
          <i class="fa-brands fa-youtube footer-icons"></i></a>

      <a class="btn btn-link btn-floating btn-lg text-white m-1 footer-icons"
         href="https://www.instagram.com/ondra.repko" target="_blank" rel="noopener noreferrer"
         role="button" data-mdb-ripple-color="white">
          <i class="fab fa-instagram footer-icons"></i></a>

      <a class="btn btn-link btn-floating btn-lg text-white m-1 footer-icons"
         href="https://cz.pinterest.com/ardnookper/" target="_blank" rel="noopener noreferrer"
         role="button" data-mdb-ripple-color="white">
          <i class="fa-brands fa-pinterest footer-icons"></i></a>

      <a class="btn btn-link btn-floating btn-lg text-white m-1 footer-icons" href="https://github.com/datboiErgoon"
         target="_blank" rel="noopener noreferrer" role="button" data-mdb-ripple-color="white">
          <i class="fab fa-github footer-icons"></i></a>
    </section>
  </div>
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
      <p class="text-white">Ondřej Repko</p>
  </div>
</footer>